 <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{{ path_for('admin.dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#post"><i class="fa fa-fw fa-arrows-v"></i> Posts <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="post" class="collapse">
                            <li>
                                <a href="{{ path_for('admin.posts')}}">view All</a>
                            </li>
                            <li>
                                <a href="{{ path_for('admin.addPost')}}">Add Post</a>
                            </li>
                        </ul>
                    </li>
                    {% if user is not empty%}
                    {% if user.role_id == 1 %}
                    <li>
                        <a href="/manage/category"><i class="fa fa-fw fa-table"></i>Categories</a>
                    </li>
                    {% endif %}
                        {% endif %}
                    <li>
                        <a href="{{ path_for('admin.comments')}}"><i class="fa fa-fw fa-edit"></i> Comments</a>
                    </li>

                    {% if user is not empty%}
                    {% if user.role_id == 1 %}
    

 
                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#user"><i class="fa fa-fw fa-arrows-v"></i> Users <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="user" class="collapse">
                            <li>
                                <a href="{{ path_for('admin.addUser')}}">Add User</a>
                            </li>
                            <li>
                                <a href="{{ path_for('admin.users')}}">View All Users</a>
                            </li>
                        </ul>
                    </li>
                      {% endif %}
                        {% endif %}
                    <li>
                        <a href="{{ path_for('user.profile')}}"><i class="fa fa-fw fa-wrench"></i> Profile</a>
                    </li>
                 <li>
                        <a href="/test1"><i class="fa fa-fw fa-edit"></i>Test1 AWS</a>
                    </li>
                    <li>
                        <a href="/test2"><i class="fa fa-fw fa-edit"></i> Test2 AWS</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->