<!-- sidebar-widget -->
<div class="sidebar-widget">
	<h3 class="sidebar-title">About Me</h3>
	<div class="widget-container widget-about">
		<a href="post.html"><img src="https://s3-ap-southeast-2.amazonaws.com/sncblog/bloggerprofile/soniya_profile.jpg" alt="blogger admin"></a>
		<h4>Soniya Acharya</h4>
		<div class="author-title">Blogger/Enrolled Nurse</div>
		<p>While everyone’s eyes are glued to the runway, it’s hard to ignore that there are major fashion moments on the front row too.</p>
	</div>
</div>
<!-- sidebar-widget -->
<div class="sidebar-widget">
	<h3 class="sidebar-title">Socials</h3>
	<div class="widget-container">
		<div class="widget-socials">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
		</div>
	</div>
</div>
<!-- sidebar-widget -->
<!-- sidebar-widget -->
<div class="sidebar-widget">
	<h3 class="sidebar-title">Recent Posts</h3>
	<div class="widget-container">
		
		{% for post in featuredPosts %}

			<article class="widget-post">
				<div class="post-image">
					<a href="/post/{{post['post_id']}}">
						<img src="https://s3-ap-southeast-2.amazonaws.com/sncblog/post_images/{{post.image_path}}" alt=''>
					</a>
				</div>
				<div class="post-body">
					<h2><a href="/post/{{post['post_id']}}"><strong>{{ post.title }}</strong></a></h2>
					<div class="/post-meta">
						<span><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ post.published }}</span> &nbsp;&nbsp;<span><a href=""><i class="fa fa-comment-o"></i>&nbsp;&nbsp;{{ post.comments_count }}</a></span>
					</div>
				</div>
			</article>
			
		{% endfor %} 
	</div>
</div>

<div class="sidebar-widget">
	<h3 class="sidebar-title">Categories</h3>
	<div class="widget-container">
		<ul>
			{% for category in categories %}
			<li><a href='/post/category/{{category.url}}'>{{ category.cat_title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% if facebookData is not empty %}
<div class="sidebar-widget">
	<aside class="facebook-feeds-widget">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="sidebar-title" ><span><img class="widget-icon" src="https://s3-ap-southeast-2.amazonaws.com/sprouttechpublic/icons/fb_icon.png" alt="" /></span>Facebook Feeds</h3>

        </div>
        <div class="panel-body">
        	{% for item in facebookData.posts %}
          <!--     facebook post       -->
          <article>
            <div class="row">
              <div class="col-md-3">
                <img class=" profile-image" src="{{facebookData.profile_picture}}" alt="facebook profile" />
              </div>
              <div class="col-md-9">
              	<p class="fbuser"><strong>{{facebookData.username}}</strong></p>
                <p class="page-status">{{item.message}}</p>
                <p class="story">{{item.story}}</p>

                <p class="likes"><span><img class="like-icon" src="https://s3-ap-southeast-2.amazonaws.com/sprouttechpublic/icons/fb_likes.png" alt="" /></span><span class="like-count"><small>4</small></span></p>
              </div>
            </div>
          </article>
          <!--     end of post       -->
{% endfor %}
      
        </div>
        <div class="panel-footer">
          <p class="text-center"><small>&copy2015 ryan</small></p>
        </div>
      </div>
    </aside>
</div>
{% endif %}