{% extends 'front/layout.twig' %}
{% block main %}
<section>
	<div class="row">
		<div class="col-md-8">
			{% if posts is not empty %}
				{% for post in posts %}
					<article class="blog-post">
						<div class="blog-post-image">
							<a href="/post/{{post['post_id']}}"><img src="https://s3-ap-southeast-2.amazonaws.com/sncblog/post_images/{{post.image_path}}" alt=''></a> 
						</div>
						<div class="blog-post-body">
							<h2><a href="/post/{{post['post_id']}}">{{ post.title }}</a></h2>
							<div class="post-meta"><span>by <a href="#">{{ post.author_full_name }}</a></span>/<span><i class="fa fa-clock-o"></i>{{ post.published | date("F jS \\a\\t g:ia") }}</span>/<span><i class="fa fa-comment-o"></i> <a href="#">{{ post['comments_count']}}</a></span></div>
							<p>{{ post.content|raw }}</p>
							<div class="read-more"><a href="/post/{{post['post_id']}}">Continue Reading <span>&#187;</span></a></div>
						</div>
					</article>
				{% endfor %}

			{% if paginationLinks is not empty %}
			
				<div class="pagination-bar">
				
					{{ paginationLinks.next | raw }}
					{{ paginationLinks.prev | raw }}
				
				</div>
			
			{% endif %}
			
			{% else %}

				<article>
					<h3>Sorry no articles found!</h3>
				</article>
			{% endif %}
		</div>
		
		<div class="col-md-4 sidebar-gutter">
			<aside>
				{% include 'front/includes/sidebar.twig'  %}
			</aside>
		</div>
	</div>
</section>
{% endblock main %}	
				
	