
				
	{% extends 'front/layout.twig' %}
{% block main %}

<section>
	<div class="row">
		<div class="col-md-8">
			{% if posts is not empty %}
		{% for post in posts %}
			<article class="blog-post">
				<div class="blog-post-image">
					<a href=''><img src="images/1140x500-1.jpg" alt=''></a> 
				</div>
				<div class="blog-post-body">
					<h2><a href="">{{ post['title'] }}</a></h2>
					<div class="post-meta"><span>by <a href="#">{{ post['author'] }}</a></span>/<span><i class="fa fa-clock-o"></i>{{ post['published'] | date("F jS \\a\\t g:ia") }}</span>/<span><i class="fa fa-comment-o"></i> <a href="#">{{ post['comments_count']}}</a></span></div>
					<p>{{ post['content'] }}</p>
					<div class="read-more"><a href="/post/{{post['post_id']}}">Continue Reading</a></div>
				</div>
			</article>

		{% endfor %}
	{% endif %}
	{% if posts is empty %}

	<article>
		<h3>Sorry no articles found!</h3>
	</article>
{% endif %}
		</div>
		<div class="col-md-4 sidebar-gutter">
					<aside>
					{% include 'front/includes/sidebar.twig'  %}
					</aside>
				</div>
			</div>
		</section>
{% endblock main %}	
				
	