{% extends 'admin/layout_admin.twig' %}
{% block main %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            Add Blog Post
            
        </h2>
         <div class="btn-group btn-breadcrumb breadcrumb">
            <a href="{{path_for('admin.dashboard')}}" class="btn btn-default"><i class="glyphicon glyphicon-home"></i> Dashboard</a>
             <a href="/posts" class="btn btn-default">Post</a>
            <a href="#" class="btn btn-info">Add</a>
         
    </div>
    </div>
</div>
<!-- /.row -->
<div class="col-xs-12">
   
   {% if errors is not empty %}
      <div class="alert alert-danger">
        {% for e in errors %}

          <p>{{ e[0] }}</p>

        {% endfor %}
      </div>
    {% endif %}

  <form method="post"  action="{{ path_for('admin.postPost') }}" enctype="multipart/form-data">

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="col-xs-6 form-control" id="title" name="post_title" value="{{oldInput.post_title}}" >
    </div>
    
    <div class="form-group">
      <label for="title">Category:</label>
      <select name ="category" class="form-control">
        {% for item in category%}
          <option value="{{item.cat_id }}">{{ item.cat_title }}</option>;
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group">
      <label for="pwd">Content:</label>
      <textarea type="text" class="form-control"  name="post_content" rows="15">{{oldInput.post_content}}</textarea>
    </div>
      
    <div class="form-group">
      <label for="post-image">Image</label>
      <input type="file" class=""  name="post-image">
    </div>
    
    <div class="form-group">
      <label for="tag">tags:</label>
      <input type="text" class="form-control" id="image" name="post_tag" value="{{oldInput.post_tag}}">
    </div>
    
    <div class="form-group">
      <label for="status">status:</label>
      <select class="form-control" name="post-status">
        <option value="draft">Draft</option>
        <option value="published">Published</option>
      </select>
    </div>
   
    <button type="submit" class="btn btn-success" name="submit">Submit</button>
    {{ csrf.field | raw }}
  </form>
 </div>
{% endblock main %}
